cryptic-coder/cache
cryptic-coder/.idea
cryptic-coder/user/themes/deliver/.sass-cache/74cb01cc4639a6ba16a8a57b20c61b10b1a2af09/_footer.scssc
cryptic-coder/user/themes/deliver/.sass-cache/74cb01cc4639a6ba16a8a57b20c61b10b1a2af09/_header.scssc
